<p-toolbar [style]="{ height: '100px' }">
    <div class="p-toolbar-group-start">
        <img src="assets/icons/icon-72x72.png" alt="logo" />
    </div>
    <div class="p-toolbar-group-center">
        {{ title }}
    </div>
    <div class="p-toolbar-group-end flex gap-4">
        <!-- <i class="pi pi-shopping-cart" style="font-size: 2rem"></i> -->
        <span *ngIf="isLoggedIn" class="cursor-pointer text-3xl" (click)="onCartClick()">
            <i class="pi pi-shopping-cart"></i>
        </span>
        
        <span *ngIf="!isLoggedIn" class="cursor-pointer text-lg text-gray-300 hover:text-white transition-colors" (click)="onLoginClick()">
            Se connecter
        </span>
        
        <span *ngIf="isLoggedIn" class="flex items-center cursor-pointer text-lg text-gray-300 hover:text-white transition-colors" (click)="onLogoutClick()">
            <span class="ml-2">Se déconnecter</span>
        </span>
    </div>
</p-toolbar>
<p-splitter 
    [panelSizes]="[20, 80]" 
    [style]="{ height: 'calc(100vh - 100px)' }">
    <ng-template pTemplate>
        <div class="w-full">
            <app-panel-menu />
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="w-full app-content">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</p-splitter>